@media (min-width: 992px) {
  .price-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 332px;
  }
}

.fs-16 {
  font-size: 16px;
}

